body {
    font-family: Arial, sans-serif;
    background-image: url(banner.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-image: url(banner1.gif);
    background-size: cover;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 600px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

img {
    height: 300px;
    width: 200px;
}

.game {
    margin-bottom: 20px;
}

#hintButton {
    margin-top: 10px;
}

.input {
    color: whitesmoke;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    padding: 8px;
    font-size: 16px;
    width: 200px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
}

button:hover {
    background-color: #0056b3;
}

#hintText {
    font-style: italic;
    color: whitesmoke;
}
